<!doctype html>
<html>
    <head>
        <title>Github Pull Request Manager</title>
        <link rel="stylesheet" href="/css/lib/bootstrap.css" />
        <link rel="stylesheet" href="/css/lib/github-highlight.css" type="text/css" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <script src="/javascript/lib/jquery-1.7.1.js"></script>
        <script src="/javascript/lib/bootstrap-modal.js"></script>
        <script src="/javascript/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="topbar-wrapper">
                <div class="topbar">
                    <div class="topbar-inner">
                        <div class="container">
                            <span class="brand">
                            <a href="<%= @org_url %>" target="_blank"><%= @org_title %></a>/<a href="<%= @repo_url %>" target="_blank"><%= @repo_title %></a>
                            </span>
                        </div>
                    </div>
                </div>
          </div>
          <div class="sidebar">
              <%= erb :sidebar, :layout => false %>
          </div>
          <div class="content" id="main">
              <%= yield %>
              <div id="pull_requests">
              </div>
              <div class="pagination" style="display:none">
                  <%= erb :pagination, :layout => false %>
              </div>
          </div>
        </div>

        <!-- Modal Dialogs -->
        <div id="validate" class="modal hide fade">

            <div class="modal-header">
                <a href="#" class="close">×</a>
                <h3>Validating <span id="validate-issue"><a href="" target="_blank"></a></span></h3>
            </div>

            <div class="modal-body">
                <div id="validate_in_progress">
                    <h3>Creating a new branch &amp; pulling this pull request into the branch...</h3>
                    <div class="loading">
                      <div class="ball"></div>
                      <div class="ball1"></div>
                    </div>
                </div>
                <div id="validate_merge_options" class="hide">
                </div>
            </div>

            <div class="modal-footer">
                <div id="validation_actions" class="modal_actions">
                    <div class="merge_step merge_step_one hide">
                        <button class="btn primary" data-continue="true">Validation successful</button>
                    </div>
                    <div class="merge_step merge_step_two hide">
                        <button class="btn success" data-merge-type="merge">Merge and push</button>
                        <button class="btn primary" data-merge-type="squash">Squash then merge</button>
                    </div>
                    <div class="merge_step merge_step_three_squash hide">
                        <button class="btn success">Merge via squash and push</button>
                    </div>
                    <div class="merge_step merge_conflict">
                        <button class="btn closebtn primary">Close<button>
                    </div>
                    <button class="btn closebtn cancelbtn">Cancel</button>
                </div>
            </div>

        </div>

        <div id="force_warning" class="modal hide fade">
            <%= erb :force_reset, :layout => false %>
        </div>

        <div id="merge" class="modal hide fade">
        </div>

        <div id="modal_loading" class="hide">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3></h3>
            </div>
            <div class="modal-body">
                <div class="loading">
                  <div class="ball"></div>
                  <div class="ball1"></div>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn" data-action="cancel">Cancel</button>
            </div>
        </div>

    </body>
</html>