<!doctype html>
<html>
    <head>
        <title>Github Pull Request Manager</title>
        <link rel="stylesheet" href="/css/lib/bootstrap.css" />
        <link rel="stylesheet" href="/css/lib/github-highlight.css" type="text/css" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <script src="/javascript/lib/jquery-1.7.1.js"></script>
        <script src="/javascript/lib/bootstrap-modal.js"></script>
        <script src="/javascript/lib/history.js/history.js"></script>
        <script src="/javascript/lib/history.js/history.adapter.jquery.js"></script>
        <script src="/javascript/lib/history.js/history.html4.js"></script>
        <script src="/javascript/lib/history.js/json2.js"></script>
        <script src="/javascript/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="topbar-wrapper">
                <div class="topbar">
                    <div class="topbar-inner">
                        <div class="container">
                            <span class="brand">
                            <a href="<%= @org_url %>" target="_blank"><%= @org_title %></a>/<a href="<%= @repo_url %>" target="_blank"><%= @repo_title %></a>
                            </span>
                        </div>
                    </div>
                </div>
          </div>
          <div class="sidebar">
              <%= erb :sidebar, :layout => false %>
          </div>
          <div class="content" id="main">
              <%= yield %>
          </div>
          <%= erb :loaders, :layout => false %>
        </div>

        <%= erb :force_reset, :layout => false %>
        <%= erb :working, :layout => false %>
    </body>
</html>