<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>Merging <%= @pr["title"] %> </h3>
</div>
<div class="modal-body">
  <div class="merge_message_step">
    <label for="merge_message">Merge message:</label>
    <span id="merge_message_header">Merge pull request #<%= @pr["number"] %> from <%= @pr["head"]["repo"]["owner"]["login"] %>/<%= @pr["head"]["ref"] %></span>
    <textarea id="merge_message"><%= @pr["title"] %></textarea>
  </div>
</div>
<div class="modal-footer">
  <div class="modal_actions">
    <button class="btn success" data-action="merge" data-issue="<%= @pr["number"] %>">Confirm Merge</button>
    <button class="btn closebtn">Cancel</button>
  </div>
</div>
