<div class="merge_validation" data-issue="<%= @pr["number"] %>" data-commits="<%= @pr["commits"] %>">

  <div class="merge_step merge_conflict hide">
    <p>This pull request has a merge conflict with <code><%= @pr["base"]["label"] %></code></p>
  </div>

  <div class="merge_step merge_step_one hide">
    <div>On branch: <code><%= @current_branch %></code></div>
    <div><%= @pr["commits"] %> commit<% if @pr["commits"] > 1 %>s<% end %> | <%= @pr["changed_files"] %> changed file<% if @pr["changed_files"] > 1 %>s<% end %> | <a href="<%= @pr["html_url"] %>/files" target="_blank">View Diff</a></div>
    <div>Description:<div class="well"><%=md @pr["body"] %></div></div>
  </div>

  <div class="merge_step merge_step_two hide">
    <p>You are about to merge <%= @pr["commits"] %> commit<% if @pr["commits"] > 1 %>s<% end %> from <code><%= @pr["head"]["label"] %></code> into <code><%= @pr["base"]["label"] %></code></p>
    <% if @pr["commits"] > 1 %>
      <p>As there are multiple commits, you can either merge them all into
        <code><%= @pr["base"]["label"] %></code>,
        or you can squash the commits into one commit for a cleaner history, but lose the individual log entries for each commit in the branch.
      </p>
      <span>Commits in this pull request:</span>
      <div class="list_data">
        <%= erb :commit_list, :layout => false %>
      </div>
    <% end %>
  </div>

  <div class="merge_step merge_step_three_squash hide">
    <span>Choose an author to attribute this pull request to:</span>
    <div class="list_data merge_step_three_commit_authors">
      <%= erb :authors, :layout => false %>
    </div>
  </div>

  <div class="merge_step merge_step_two merge_step_three_squash merge_message_step hide">
    <label for="merge_message">Merge message:</label>
    <span id="merge_message_header">Merge pull request #<%= @pr["number"] %> from <%= @pr["head"]["repo"]["owner"]["login"] %>/<%= @pr["head"]["ref"] %></span>
    <textarea id="merge_message"><%= @pr["title"] %></textarea>
  </div>

</div>